body{
  text-align: center;
}

h1{
  font-size: 50px;
  color: pink;
}

h2{
  font-size: 30px;
  color: green;
}

.flex-wrap{
  display: flex;
  justify-content: center;
  margin: -30px 0 0;
}

.small{
  font-size: 30px;
}

.img01{
  /* width: 20%; */
  /* height: 35%; */
  width: 330px;
  height: 300px;
}

.img02{
  max-width: 430px;
}
